@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    background-color: #808080  ;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px black;
    height: 40%;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    gap:30px;
    
}

.botoes {
    
    align-items: center;
}
.container {
    display: flex;
    
}

iframe {
    
    width: 80vw;
    height: 75vh;
    padding-left: 30px;
    border: none;
    
}

footer {
    display: flex;   
    background-color: #808080 ;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center; 
}

footer > p {
    padding-top: 10px;
    text-align: center;
}

footer > p > a {
    color: white;
    text-shadow: 1px 1px 2px black;
}

